/* Marta's code */

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-family: 'Italiana', sans-serif;
    margin-bottom: 20px;
    font-size: 60px;
    color: #283618;
}

.hero-section {
    background-image: url(bruna-branco-t8hTmte4O_g-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    color: #283618;
    max-width: 40%;
    margin: auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.hero-text p {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;;
    margin-bottom: 30px;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.cta a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0px 10px;
    text-decoration: none;
    color: #FAFAE3;
    background-color: #606C38;
    border-radius: 16px;
    font-size: 16px;
}

.cta hover {
    background-color: #283618;
}

#order {
    background-color: rgba(250, 250, 227, 0.5);
    border: 2px solid #606C38;
    color: #606C38;
}

/* Marta's code */

/* rubina's code  */

body {
    background-color: #dce2ca;
    overflow: hidden;
}

a {
    cursor: pointer;
}

.header-main {
    width: 100%;
    height: 80px;
    background-color: #FAFAE3;
    display: flex;
    justify-content:space-between;
    box-shadow: 0 8px 6px -6px #606c38
}

.header-logo {
    width: fit-content;
    height: 100%;
    padding-left: 60px;
    display: flex;
}

.header-logo img{
    height: 55px;
    align-self: center;
    padding: 15px;
}

.header-nav {
    width: fit-content;
    height: 100%;
}

.header-nav ul {
    list-style: none;
}

.header-nav ul li{
    display: inline-block;
    padding: 0 20px;
    margin-right: 10px;
}

.header-nav ul li a {
    padding: 30 10px;
    height: 100%;
    font-family: "Italiana", sans-serif;
    text-decoration: none;
    font-size: 16px;
    line-height: 50px;
    align-self: center;
    color: #283618
}

.header-nav ul li a:hover {
    color: #606c38
}

button {
    font-family: "Italiana", sans-serif;
    font-size: 16px;
    color: #FAFAE3;
    margin-left: 20px;
    padding: 10px 20px;
    background-color: rgb(96,108,56,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgb(96,108,56,0.8);
}



footer {
    width: 100%;
    height: 180px;
    position: absolute;
    bottom: 0;
    background-color: #606c38
}

.row {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col1 {
    padding: 30px;
}

.logo2 {
    width: 250px;
}

.col2 ul li {
    list-style: none;
}
.col2 ul li a{
    width: fit-content;
    height: 100%;
    padding: 0;
    font-family: "Italiana", sans-serif;
    text-decoration: none;
    font-size: 16px;
    line-height: 50px;
    align-self: center;
    color: #FAFAE3;
}

.col2 ul li a:hover {
    color: #283618
}

.col3 ul li {
    list-style: none;
}

.col3 ul li a{
    width: fit-content;
    height: 100%;
    list-style: none;
    padding: 0;
    font-family: "Italiana", sans-serif;
    text-decoration: none;
    font-size: 16px;
    line-height: 50px;
    align-self: center;
    color: #FAFAE3;
}

.col3 ul li a:hover {
    color: #283618
}

.col4 {
    padding: 50px;
}

.col4 ul li {
    list-style: none;
}

.col4 ul li a button {
    font-family: "Italiana", sans-serif;
    font-size: 16px;
    color: #283618;
    margin-left: 20px;
    
    background-color: rgb(250, 250, 227,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.col4 ul li a button:hover{
    background-color: rgb(250, 250, 227,0.8);
}

.col5 {
    padding: 30px;
}

.logofb {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.logoin {
    width: 40px;
    height: 40px;
}

.logotw {
    width: 40px;
    height: 40px;
}

.credit {
    width: 160px;
}

/* rubina's code  */

